.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px; 
  }
  
  .label {
    margin: 10px 0; 
    color: rgb(53, 52, 50); 
  }
  
  .input {
    padding: 10px; 
    border: 1px solid black; 
    border-radius: 5px; 
    width: 250px; 
    background-color: lightblue; 
    color: blanchedalmond; 
  }
  
  .submitButton {
    margin-top: 20px; 
    background-color: rgb(70, 130, 180); 
    color: white; 
    border: none; 
    padding: 10px 15px; 
    cursor: pointer; 
  }
  
  .submitButton:hover {
    background-color: darkblue; 
  }
  