.filterContainer {
  display: flex;
  justify-content: center; 
  margin: 20px 0; 
}

.filterInput {
  width: 300px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.filterInput::placeholder {
  color: #aaa;
}
