.userMenu {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  background-color: transparent; 
  padding: 10px;
  border-radius: 5px;
  box-shadow: none; 
  align-items: center;
}

.logoutButton {
  background-color: #ff4d4d;
  color: white;
  border: none; 
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  align-self: center;
  margin-top: 0;
}
.logoutButton:hover {
  background-color: darkred;
}